# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore the folder of vscode
.vscode

# Ignore the folder for the test, because I don't have test
app/src/test